<section class="container blog">
{%- include 'breadcrumb-cat.njk' -%}
{%- include 'category-intro.njk' -%}
<div class="post--bg col-three">
{%- if tag == 'tools-page' -%}
{%- for post in collections.toolsPosts | reverse -%}
{%- include 'post-card.njk' -%}
{%- endfor -%}
{%- elif tag == 'graphic-design-page' -%}
{%- for post in collections.graphicDesignPosts | reverse -%}
{%- include 'post-card.njk' -%}
{%- endfor -%}
{%- elif tag == 'web-design-page' -%}
{%- for post in collections.webDesignPosts | reverse -%}
{%- include 'post-card.njk' -%}
{%- endfor -%}
{%- elif tag == 'seo-page' -%}
{%- for post in collections.seoPosts | reverse -%}
{%- include 'post-card.njk' -%}
{%- endfor -%}
{%- elif tag == 'web-development-page' -%}
{%- for post in collections.webDevelopmentPosts | reverse -%}
{%- include 'post-card.njk' -%}
{%- endfor -%}
{%- elif tag == 'css-page' -%}
{%- for post in collections.cssPosts | reverse -%}
{%- include 'post-card.njk' -%}
{%- endfor -%}
{%- elif tag == 'js-page' -%}
{%- for post in collections.jsPosts | reverse -%}
{%- include 'post-card.njk' -%}
{%- endfor -%}
{%- elif tag == 'wordpress-page' -%}
{%- for post in collections.wordpressPosts | reverse -%}
{%- include 'post-card.njk' -%}
{%- endfor -%}
{%- elif tag == 'innovation-page' -%}
{%- for post in collections.innovationPosts | reverse -%}
{%- include 'post-card.njk' -%}
{%- endfor -%}
{%- else -%}
{%- for post in collections.blog | reverse -%}
{%- include 'post-card.njk' -%}
{%- endfor -%}
{%- endif -%}
</div>
</section>