{%- if tag == 'home-page' -%}
<title>Design 2 SEO - Design and Development by Jeremy Faucher</title>
<meta name="description" content="Sharing my insights and how-tos on you can be more efficient while using best practices. I cover topics from graphic design to web development, using dependable platforms like WordPress and new technologies like Jamstack and more!">
{%- elif tag == 'about-page' -%}
<title>About - Design and Development by Jeremy Faucher</title>
<meta name="description" content="I’m Jeremy Faucher, a Seattle-based front-end web developer with a passion for usability. Design 2 SEO is the place where I display my experience, blog and create free web development tools.">
{%- elif tag == 'portfolio-page' -%}
<title>Portfolio - Design and Development by Jeremy Faucher</title>
<meta name="description" content="I have had the opportunity to work for many great clients like city chambers, small businesses and content creators. I enjoy making clean, modern, websites while following best practices and usability standards.">
{%- elif tag == 'blog-page' -%}
<title>From Concept To Launch Blog - Design 2 SEO</title>
<meta name="description" content="Sharing my insights and how-tos on you can be more efficient while using best practices. I cover topics from graphic design to web development, using dependable platforms like WordPress and new technologies like Jamstack and more!">
{%- elif tag == 'graphic-design-page' -%}
<title>Graphic Design Blog - Design 2 SEO</title>
<meta name="description" content="Having and eye for design and following the yearly trends on topics from illustration to typography are a must as a graphic designer. I post articles to follow these trends while applying the golden rules of design.">
{%- elif tag == 'web-design-page' -%}
<title>Web Design Blog - Design 2 SEO</title>
<meta name="description" content="Helping you learn how to make the web, and make it look good while you're at it. I'll be bringing you how-tos and Tutorials, as well as simple tips and tricks, with a big focus on helping people see how wonderful user experience and usability is!">
{%- elif tag == 'seo-page' -%}
<title>SEO - Design 2 SEO</title>
<meta name="description" content="We can get lost in the clutter of misinformation when it comes to SEO. So I want clear up some of that clutter, while focusing on how we move forward with SEO.">
{%- elif tag == 'web-development-page' -%}
<title>Web Development - Design 2 SEO</title>
<meta name="description" content="Building resilient and agile websites takes continual learning as a web developer. I aim to be a resource that will give you an architectural understanding and a plan for creating robust developments.">
{%- elif tag == 'css-page' -%}
<title>CSS - Design 2 SEO</title>
<meta name="description" content="Helping you learn how to make the web, and make it look good while you're at it. I'll be bringing you How Tos and Tutorials, as well as simple tips and tricks, with a big focus on helping people see how wonderful CSS is!">
{%- elif tag == 'js-page' -%}
<title>JavaScript - Design 2 SEO</title>
<meta name="description" content="Helping you learn how to make the web, and make it function good while you're at it. I'll be bringing you How Tos and Tutorials, as well as simple tips and tricks, with a big focus on helping people see how wonderful JavaScript is!">
{%- elif tag == 'wordpress-page' -%}
<title>WordPress - Design 2 SEO</title>
<meta name="description" content="Giving a fresh perspective on working with the WordPress software. As the technology progresses we as WordPress developers need to progress as well. WordPress is a big topic and I want to give you my perspective on how to work with WordPress more efficiently.">
{%- elif tag == 'innovation-page' -%}
<title>Innovation - Design 2 SEO</title>
<meta name="description" content="Behind a every good idea is innovation. Every project is a little different to say the least. It takes agility and innovation to design, develop and deploy. With these posts I hope to inspire creative planning, agile sprints and successful productions.">
{%- elif tag == 'tools-page' -%}
<title>Tools - Design 2 SEO</title>
<meta name="description" content="As technology grows we have the ability to use tools that are free and accessible. With that, I aim to provide the newest free web testing tools that will help you be more efficient and creative.">
{%- else -%}
<title>{{ title }} - Design 2 SEO</title>
<meta name="description" content="{{ description }}">
{%- endif -%}